body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

.navbar {
    background: #4343ab;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-start;
}

#msg {
   display : none;
}

#img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        
}